{% extends 'layouts/main.html' %}
{% block title %}New Venue{% endblock %}
{% block content %}
  <div class="form-wrapper">
    <form method="POST" class="form" action="/venues/create">
      {{ form.hidden_tag() }}
      <h3 class="form-heading">List a new venue <a href="{{ url_for('index') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a></h3>
      <div class="form-group">
        <label>{{ form.name.label }}</label>
        <div class="form-field">
          {{ form.name(class_ = 'form-control', autofocus = true) }}
          {% if form.name.errors %}
            <ul class="errors">
              {% for error in form.name.errors %}
                <li>{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      </div>
      <div class="form-group">
        <label>{{ form.city.label }}</label>
        <div class="form-field">
          {{ form.city(class_ = 'form-control', autofocus = true) }}
          {% if form.city.errors %}
            <ul class="errors">
              {% for error in form.city.errors %}
                <li>{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      </div>
      <div class="form-group">
        <label>{{ form.state.label }}</label>
        <div class="form-field">
          {{ form.state(class_ = 'form-control', autofocus = true) }}
          {% if form.state.errors %}
            <ul class="errors">
              {% for error in form.state.errors %}
                <li>{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      </div>
      <div class="form-group">
        <label>{{ form.address.label }}</label>
        <div class="form-field">
          {{ form.address(class_ = 'form-control', autofocus = true) }}
          {% if form.address.errors %}
            <ul class="errors">
              {% for error in form.address.errors %}
                <li>{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      </div>
      <div class="form-group">
        <label>{{ form.phone.label }}</label>
        <div class="form-field">
          {{ form.phone(class_ = 'form-control', autofocus = true) }}
          {% if form.phone.errors %}
            <ul class="errors">
              {% for error in form.phone.errors %}
                <li>{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      </div>
      <div class="form-group">
        <label>{{ form.image.label }}</label>
        <div class="form-field">
          {{ form.image(class_ = 'form-control', autofocus = true) }}
          {% if form.image.errors %}
            <ul class="errors">
              {% for error in form.image.errors %}
                <li>{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      </div>
      <div class="form-group">
        <label>{{ form.facebook.label }}</label>
        <div class="form-field">
          {{ form.facebook(class_ = 'form-control', autofocus = true) }}
          {% if form.facebook.errors %}
            <ul class="errors">
              {% for error in form.facebook.errors %}
                <li>{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      </div>
      <div class="form-group">
        <label>{{ form.website.label }}</label>
        <div class="form-field">
          {{ form.website(class_ = 'form-control', autofocus = true) }}
          {% if form.website.errors %}
            <ul class="errors">
              {% for error in form.website.errors %}
                <li>{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      </div>
      <div class="form-group">
        <label>{{ form.isSeeking.label }}</label>
        <div class="form-field">
          {{ form.isSeeking(class_ = 'form-control', autofocus = true) }}
          {% if form.isSeeking.errors %}
            <ul class="errors">
              {% for error in form.isSeeking.errors %}
                <li>{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      </div>
      <div class="form-group">
        <label>{{ form.seekingDescription.label }}</label>
        <div class="form-field">
          {{ form.seekingDescription(class_ = 'form-control', autofocus = true) }}
          {% if form.seekingDescription.errors %}
            <ul class="errors">
              {% for error in form.seekingDescription.errors %}
                <li>{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      </div>
      <div class="form-group">
        <label>{{ form.genres.label }}</label>
        <div class="form-field">
          {{ form.genres(class_ = 'form-control', autofocus = true) }}
          {% if form.genres.errors %}
            <ul class="errors">
              {% for error in form.genres.errors %}
                <li>{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      </div>
      {{ form.submit(class_='btn btn-primary btn-lg btn-block') }}
      {% if form.errors %}
      {{ form.errors }}
      {% endif %}
    </form>
  </div>
{% endblock %}